<h1><%= @user.username %></h1>
<h3><%= @user.email %></h3>

<%= link_to 'Edit Profile', edit_user_registration_path(@user), class: "btn btn-success btn-lg user-button" %>
<br>
<div class="post-table">
	<table class="table table-striped">
		<thead>
			<tr>
				<th colspan="2" class="table-header"><h3>Your Ads<h3></th>
			</tr>
			<tr>
				<th>Title</th>
				<th>Price</th>
				<th>Sold?</th>
				<th>Edit Post</th>
				<th>Delete Post</th>
			</tr>
		</thead>
		<tbody>      
			<% @user.posts.each do |post| %>
				<tr>
					<td><%= post.title %></td>
					<td><%= number_to_currency(post.price) %></td>
					<td><%= post.is_sold %></td>
					<td><%= link_to 'Edit', edit_user_post_path(@user, post), class: "btn btn-success btn-lg user-button" %></td>
					<td><%= link_to 'Delete', user_post_path(@user, post), method: :delete, class: "btn btn-success btn-lg user-button" %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
<%= link_to 'New Post', new_user_post_path(@user), class: "btn btn-success btn-lg user-button" %>

